{% extends 'base.html' %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面标题 #}
{% block title %}
{{ blog.title }}
{% endblock %}

{# 页面内容 #}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h3>{{ blog.title }}</h3>
            <ul class="blog-info-description">
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ blog.author }}</li>
                <!--作者-->
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                        {{ blog.blog_type }}</a></li>
                <!--分类-->
                <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    {{ blog.created_time|date:"Y-m-d H:n:s" }}</p>
                </li>
                <!--发布日期-->
                <li>阅读量：{{ blog.get_read_num }}</li>
                <li>评论数：{% get_comment_count blog %}</li>
            </ul>
            <div class="blog-content">
                <p>{{ blog.content|safe }}</p>
            </div>
            <div class="like" onclick="likeChange(this, '{% get_content_type blog %}', {{ blog.pk }})">
                <span class="glyphicon glyphicon-heart-empty {% get_like_status blog %}"></span>
                <span class="liked-num">{% get_like_count blog %}</span>
                <span>喜欢</span>
            </div>
            <nav aria-label="...">
                <ul class="pager">
                    {% if previous_blog %}
                    <li><a href="{% url 'blog_detail' previous_blog.pk %}">上一篇：{{ previous_blog.title }}</a></li>
                    {% else %}
                    <li><span>没有了哦</span></li>
                    {% endif %}
                    {% if next_blog %}
                    <li><a href="{% url 'blog_detail' next_blog.pk %}">下一篇：{{ next_blog.title }}</a></li>
                    {% else %}
                    <li><span>没有了哦</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div>
                <h4>提交评论</h4>
                {% if user.is_authenticated %}

                <form id="comment_form" action="{% url 'up_data_comment' %}" method="POST">
                    <label>{{ user.get_nickname_or_username }},欢迎评论~</label>
                    <div id="reply_content_container" style="display:none">
                        <p>回复：</p>
                        <div id="reply_content"></div>
                    </div>

                    {% csrf_token %}

                    {% get_comment_form blog as comment_form %}

                    {% for field in comment_form %}
                    {{ field }}
                    {% endfor %}
                    <span id="comment_error" class="text-danger pull-left"></span>
                    <input type="submit" value="评论" class="btn btn-primary pull-right">
                </form>
                {% else %}
                未登录，登录后才可评论
                <a href="{% url 'userlogin' %}?from={{ request.get_full_path }}">登录</a>
                <span>或</span>
                <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                {% endif %}
            </div>
            <div>
                <br />
                <h4>评论列表</h4>
                <div id="comment_list">
                    {% get_comment_list blog as comments %}
                    {% for comment in comments %}
                    <div id="root_{{ comment.pk }}" class="comment">
                        <span>{{ comment.user.get_nickname_or_username }}</span>
                        <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }}):</span>
                        <div id="comment_{{ comment.pk }}">
                            {{ comment.text|safe }}
                        </div>
                        <div class="like"
                            onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                            <span class="glyphicon glyphicon-heart-empty {% get_like_status comment %}"></span>
                            <span class="liked-num">{% get_like_count comment %}</span>
                        </div>
                        <a href="javascript:reply({{ comment.pk }});">回复</a>


                        {% for reply in comment.root_comment.all %}
                        <div class="reply">
                            <span>{{ reply.user.get_nickname_or_username }}</span>
                            <span>&nbsp;&nbsp;回复&nbsp;&nbsp;</span>
                            <span>{{ reply.reply_to.get_nickname_or_username }}</span>
                            <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }}):</span>
                            <div id="comment_{{ reply.pk }}">
                                {{ reply.text|safe }}
                            </div>
                            <div class="like"
                                onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                <span class="glyphicon glyphicon-heart-empty {% get_like_status reply%}"></span>
                                <span class="liked-num">{% get_like_count reply %}</span>
                            </div>
                            <a href="javascript:reply({{ reply.pk }});">回复</a>
                        </div>
                        {% endfor %}

                    </div>
                    {% empty %}
                    <span id="no_comment">暂无评论</span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>



</div>
{% endblock %}

{% block script_extends %}
<script type="text/javascript">
    String.prototype.format = function () {
        var str = this;
        for (var i = 0; i < arguments.length; i++) {
            var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'), arguments[i]);
        };
        return str;
    }

    function reply(reply_comment_id) {
        // 设置值
        $('#reply_comment_id').val(reply_comment_id);

        var html = $('#comment_' + reply_comment_id).html();
        $('#reply_content').html(html);
        $('#reply_content_container').show();

        // 设置点击回复后，滚动到文本编辑框
        $('html').animate({ scrollTop: $('#comment_form').offset().top - 90 }, 300, function () {
            CKEDITOR.instances['id_text'].focus();
        });
    }
    // 格式化时间格式，如果是一位数，前面就补0
    function numFormat(num) {
        return ('00' + num).substr(-2);
    }
    function timeFormat(timestamp) {
        // JS是以毫秒为单位，python是以秒为单位 ，所以下面要*1000
        var datetime = new Date(timestamp * 1000);
        var year = datetime.getFullYear();
        var month = numFormat(datetime.getMonth() + 1);
        var day = numFormat(datetime.getDate());
        var hour = numFormat(datetime.getHours());
        var minute = numFormat(datetime.getMinutes());
        var second = numFormat(datetime.getSeconds());
        return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
    }

    $("#comment_form").submit(function () {
        // 清除下面发生错误时显示的信息
        $('#comment_error').text('');
        // 判断输入的评论是否为空
        if (CKEDITOR.instances['id_text'].document.getBody().getText().trim() == '') {
            $('#comment_error').text('评论内容不能为空');
            return false;
        }

        // 更新数据到textarea里面
        CKEDITOR.instances['id_text'].updateElement();

        // 异步提交
        $.ajax({
            url: "{% url 'up_data_comment' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function (data) {
                console.log(data);
                if (data['status'] == 'SUCCESS') {

                    // 判断用户输入的是评论还是回复
                    if ($('#reply_comment_id').val() == '0') {
                        // 插入评论 

                        var comment_html;
                        comment_html = '<div id="root_{0}" class="comment">' +
                            '<span>{1}</span>' +
                            '<span>({2}):</span>' +
                            '<div id="comment_{0}">' +
                            '{3}' +
                            '</div>' +
                            '<div class="like" onclick="likeChange(this, \'{4}\', {0})">' +
                            '<span class="glyphicon glyphicon-heart-empty"></span>' +
                            '<span class="liked-num">0</span>' +
                            '</div>' +
                            '<a href="javascript:reply({0});">回复</a>' +
                            '</div>';
                        comment_html = comment_html.format(data['pk'], data['username'],
                            timeFormat(data['comment_time']), data['text'], data['content_type']);


                        $("#comment_list").prepend(comment_html);

                    } else {
                        // 插入回复
                        var reply_html;

                        reply_html = '<div class="reply">' +
                            '<span>{1}</span>' +
                            '<span>&nbsp;&nbsp;回复&nbsp;&nbsp;</span>' +
                            '<span>{3}</span>' +
                            '<span>({2}):</span>' +
                            '<div id="comment_{0}">' +
                            '{4}' +
                            '</div>' +
                            '<div class="like" onclick="likeChange(this, \'{5}\', {0})">' +
                            '<span class="glyphicon glyphicon-heart-empty"></span>' +
                            '<span class="liked-num">0</span>' +
                            '</div>' +
                            '<a href="javascript:reply({0});">回复</a>' +
                            '</div>';
                        reply_html = reply_html.format(data['pk'], data['username'],
                            timeFormat(data['comment_time']), data['reply_to'], data['text'],
                            data['content_type']);

                        $('#root_' + data['root_pk']).append(reply_html);

                    }

                    // 清空编辑框的内容
                    CKEDITOR.instances['id_text'].setData('');

                    // 回复之后隐藏回复对象
                    $('#reply_content_container').hide();

                    $('#reply_comment_id').val('0');

                    // 评论成功
                    $('#comment_error').text('评论成功');
                    //  移除暂无评论
                    $("#no_comment").remove()
                } else {
                    //  显示错误信息
                    $('#comment_error').text(data['message']);
                }
            },
            error: function (xhr) {
                console.log(xhr);

            },
        });
        return false;
    });

    // 点赞或取消点赞
    function likeChange(obj, content_type, object_id) {
        var is_like = obj.getElementsByClassName('active').length == 0;
        $.ajax({
            url: "{% url 'like_change' %}",
            type: 'GET',
            data: {
                content_type: content_type,
                object_id: object_id,
                is_like: is_like
            },
            cache: false,
            success: function (data) {
                console.log(data);
                if (data['status'] == 'SUCCESS') {
                    // 更新点赞状态
                    var element = $(obj.getElementsByClassName('glyphicon'));
                    if (is_like) {
                        element.addClass('active');
                    } else {
                        element.removeClass('active');
                    }
                    // 更新点赞数量
                    var liked_num = $(obj.getElementsByClassName('liked-num'));
                    liked_num.text(data['liked_num']);
                } else {
                    if (data['code'] == 400) {
                        $('#login-modal').modal('show')
                    } else {
                        alert(data['message']);
                    }
                }

            },
            error: function (xhr) {
                console.log(xhr);

            }
        });
    }


</script>
{% endblock %}